<div class="row network_index">
  <div class="small-12 medium-12 large-12 columns">
    <h1>Edit network</h1>
    <%= render 'form' %>
    <%= link_to 'Show', @network, :class => "button" %><br>
    <%= link_to 'Back', networks_path, :class => "button" %>
  </div>
</div>