<h1>Networks</h1>

<h2>My networks</h2>

<% @user_networks.each do |network| %>
  <ul>
    <li><%= link_to network.nickname, network %></li>
  </ul>
<% end %>

<h2>Shared with me</h2>
<% @friendships.each do |friendship| %>
  <ul>
    <% network = Network.find(friendship.network_id) %>
    <li><%= link_to network.nickname, network %></li>
  </ul>
<% end %>

<h2>Shared with others</h2>
<% @inverse_friendships.each do |friendship| %>
  <ul>
    <% network = Network.find(friendship.network_id) %>
    <li><%= link_to network.nickname, network %></li>
  </ul>
<% end %>

<%= link_to 'Add a network', new_network_path %>