<h2>Networks</h2>

<h3>My networks</h3>

<% @user_networks.each do |network| %>
  <ul>
    <li><%= link_to network.nickname, network %></li>
  </ul>
<% end %>

<h3>Shared with me</h3>
<% @friendships.each do |friendship| %>
  <ul>
    <% network = Network.find(friendship.network_id) %>
    <li><%= link_to network.nickname, network %></li>
  </ul>
<% end %>

<h3>Shared with others</h3>
<% @inverse_friendships.each do |friendship| %>
  <ul>
    <% network = Network.find(friendship.network_id) %>
    <li><%= link_to network.nickname, network %></li>
  </ul>
<% end %>

<%= link_to 'Add a network', new_network_path %>