<div class="row network_index">
  <div class="small-12 medium-12 large-12 columns">
    
    <table>
      <caption><h2>Networks</h2></caption>

      <tr>
        <th><h3>My networks</h3></th>
      </tr>
      <% @user_networks.each do |network| %>
      <tr>
        <td><%= link_to network.nickname, network %></td>
      </tr>
      <% end %>

      <tr>
        <th><h3>Shared with me</h3></th>
      </tr>
      <% @friendships.each do |friendship| %>
      <tr>
        <% network = Network.find(friendship.network_id) %>
        <td><%= link_to network.nickname, network %></td>
      </tr>
      <% end %>

      <tr>
        <th><h3>Shared with others</h3></th>
      </tr>
      <% @inverse_friendships.each do |friendship| %>
      <tr>
        <% network = Network.find(friendship.network_id) %>
        <td><%= link_to network.nickname, network %></td>
      </tr>
      <% end %>
    </table>

    <%= link_to 'Add a network', new_network_path, :class => "button expand" %>
  </div>
</div>