<h1>Networks</h1>

<h2>All networks</h2>

<% @networks.each do |network| %>
  <ul>
    <li><%= link_to network.ssid, network %></li>
  </ul>
<% end %>

<h2>Your networks</h2>

<% @user_networks.each do |network| %>
  <ul>
    <li><%= link_to network.ssid, network %></li>
  </ul>
<% end %>

<h2>Networks shared with you</h2>

<%= link_to 'Add a network', new_network_path %>