<h2>Storing and sharing your favourite wifi network details</h2>

<h3>Public networks:</h3>

<% @public_networks.each do |network| %>
  <ul> 
    <li><%= link_to network.nickname, network %></li>
  </ul>
<% end %>

<section id="map-canvas"></section>